element.style {
width: 355px;
}
.wrapper {
    text-align: center;
	font-family: 'Arial';
	font-weight:700;
	font-size: 24px;
	
}
.wrapper1 {
    text-align: center;
	font-family: 'Arial';
	font-weight:100;
	font-size: 16px;
	color: grey;

}

a.button5{
	padding:0.46em 1.6em;
	box-sizing: border-box;
	border: 2px solid #430F7F;
	border-radius: 14px;
	text-decoration:none;
	font-family: 'Arial';
	font-weight:300;
	color: white;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color: #430F7F;
	text-align:center;
	transition: all 0.15s;
}

#suurenda {
	padding:0.6em 1.6em;
	margin-left: 5px;
	font-size:20px;
	width: 364px;
	
}

a.button5:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	background-color: #731dd6;
	border-color:#7380b6;
}
@media all and (max-width:30em){
	a.button5{
	display:block;
	margin:0.4em auto;
}
}
.box p{
    margin: 0;
    font-size:1.5em;
    margin-top: -10px;
    width:305px;
}

.box2{
	width: 255px;
}
.img{
 width: 250px;
 height: 250px;
 background-size: cover;
 display: block;
 -webkit-border-radius: 150px;
}

* {
    box-sizing: border-box;
	-webkit-border-radius: 12px;

}

.column {
    float: left;
    padding: 5px;	
}
.column_img{
	width:80px
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
    margin-left: 10px;
    width: 350px;
}
.round-button {
    display:block;
    width:70px;
    height:70px;
    line-height:65px;
    border: 2px solid #9a9a9a;
    border-radius: 50px;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #430F7F;				/*https://www.designrush.com/resources/designskilz/cool-css-buttons/  */
    box-shadow: 0 0 3px gray;
    font-size:30px;
    font-weight:bold;
	margin-left: 140px;
	margin-top: 30px;
}

#round_button{
	margin-left: 97px;
}

.round-button:hover {
    background: #262626;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	border-radius: 10px;
	font-size:30px;
}

a:hover {
    background-color: #731dd6;
    color: black;
    border-color:#7380b6;
}

.previous {
    background-color: #430F7F;
    color: white;
    margin-left: 20px;
}

.next {
    background-color:#430F7F;
    border: 2px solid #430F7F;
    color: white;
	float: right;
	margin-right: -55px;
	margin-top:-65px;
}

.round {
    border-radius: 10px;
}

#p1h1wr{
	margin-top: 30.080%;
}

#p1h3wr{
	margin-bottom: 10px;
}

#p1div{
	font-size:1.5em;margin-top: -10%;
}

#img1{
    margin-left: 70px;
}

#p2h1wr{
	margin-top: 60px;
	width: 370.323px;
}

#p2h3wr{
	margin-bottom: 20px;
	margin-left: 12px;
	width: 360px;
}

#p2_body{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: 400px;
}
#p2_html{
	height: 400px;
	width: 300px;
}
#p3_html{
	height: 690px;
}

#p3_body{
	width: 355px;
}

#p3h1wr{
	margin-top: 40px;
	margin-left: 90px;
}

#p3h3wr{
	margin-bottom: 20px;
	width: 350px;
}

#img2{
	margin-left: 57px;
}

#p3_div{
	width: 250px;
	margin-right: -20px;
	margin-left: 50px;
}

.body{
	background-color:#cccccc;
}