.panel {
  background-color: #e0e0ff;
  width:320px;
  height:568px;
  margin: 0 auto;
}
.space {
  inline-height:50px;
  text-align: center;
  color: rgba(0, 10, 65, 0.99);
  font-family: helvetica;
  font-size: 18px;
  padding-top: 40px;
}

.passcode {
  margin: 0 auto;
  text-align: center;
  padding-left:0;
}
.passcode li {
  list-style:none;
  width: 10px;
  height: 10px;
  border: 1px solid #3b46b6;
  border-radius:10px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.passcode li:first-child {
  margin-right:10px;
}

.passcode li:last-child {
  margin-left:10px;
}

li {
  list-style:none;
  display: inline-block;
  width: 72px;
  line-height: 72px;
  border: 2px solid #3b46b6;
  border-radius: 50px;
  text-align: center;
  color:rgba(0, 10, 65, 0.99);
  font-family: helvetica;
  font-size: 30px;
  margin-top:10px;
  background-color: #e0e0ff;
  opacity: 1;
  transition:  all 0.4s;
}

li:hover {
  background-color: #3b46b6;
  opacity:0.7;
}

li:first-child {
  margin-right:16px;
}

li:last-child {
  margin-left:16px;
}

.row {
  padding:0px;
  text-align: center;
}

.text {
  color:rgba(0, 10, 65, 0.99);
  font-family: helvetica;
  font-size: 18px;
  margin-top: 30px;
}

.emergency:hover, .cancel:hover {
  color: #3b46b6;
}

.emergency {
  float: left;
  margin-left: 24px;
  transition: color 0.3s;
}
.cancel {
  float: right;
  margin-right: 24px;
  transition: color 0.3s;
}

