.panel {
  background-color: #e0e0ff;
  width: 320px;
  height: 568px;
  margin: 0 auto;
}

.space {
  inline-height:50px;
  text-align: center;
  color: rgba(0, 10, 65, 0.99);
  font-family: helvetica;
  font-size: 18px;
  padding-top: 40px;
}
