body{
	font-family: "Comic Sans MS";
  text-align: center;
  display:block
}

button{
	font-family: "Comic Sans MS";
}
h1{
	font-size: 1.6em;
}

h2{
	font-size: 1.2em;
}

.button{
  	width: 250px;
  	height: 40px;
  	border: 2px solid #430F7F;
  	border-radius: 7px;
  	padding-bottom: 0px;
  	padding-top: 0px;
  	margin: auto;
  	text-align: center;
  	vertical-align: middle;
	  line-height: 35px;
    cursor: pointer;
    display:block

}


 #fill{
 	color: white;
 	background-color:#430F7F;
 }

#fill:hover {
    background-color: #731dd6;
}
 #no_fill{
 	color: #430F7F;
 	background-color: white;
 }
#no_fill:hover{
	background-color: #9642f7
}

#learn_more{
  text-decoration:none;
}
#learn_more:hover{
  text-decoration: underline;
}

 .description{
 	font-size: 0.8em;
 	color: #cbced3;
  text-align: center;
  display:block

 }
