body{
	font-family: "Arial";
  text-align: center;
  display:block
}

button{
	font-family: "Arial";
  font-size: 1.2em;
}
h1{
	font-size: 1.8em;
}

h2{
	font-size: 1.4em;
}

.button{
  	width: 250px;
  	height: 40px;
    color: white;
  	border: 2px solid #430F7F;
    background-color:#430F7F;
  	border-radius: 14px;
  	padding-bottom: 0px;
  	padding-top: 0px;
  	margin: auto;
  	text-align: center;
  	vertical-align: middle;
	  line-height: 40px;
    cursor: pointer;
    display:block

}


.button:hover {
    background-color: #731dd6;
    border-color:#7380b6;
}

#learn_more{
  text-decoration:none;
}
#learn_more:hover{
  text-decoration: underline;
}

 .description{
 	font-size: 0.9em;
 	color: gray;
  text-align: center;
  display:block
 }

.picture{
  text-align: center;
  vertical-align: middle;
  object-fit: scale-down;
  width: 250px;

}